<div class="container">
  <h1>Weather Forecast</h1>

  <%= form_with(url: fetch_forecast_path, method: "get", local: true, data: { turbo_frame: "weather_results" }) do %>
    <div data-controller="search">
      <%= label_tag :zipcode, "Enter ZIP code or City:" %>
      <%= text_field_tag :zipcode, params[:zipcode], data: { target: "search.input", action: "input->search#search" } %>

      <!-- Hidden field to store the selected result's value -->
      <%= hidden_field_tag :selected_coordinates, nil, data: { target: "search.selectedValue" } %>

      <!-- Dynamic Results List -->
      <ul data-target="search.results" class="results-list"></ul>

      <span data-target="search.error" class="error"></span>
    </div>
    <%= submit_tag "Get Forecast" %>
  <% end %>

  <%= turbo_frame_tag "weather_results" do %>
    <%= render partial: "weather_results", locals: { forecast: @forecast, location_name: @location_name } %>
  <% end %>
</div>
